#header-img{
padding-left: 40%;
max-width: 80px;
max-height: 80px;
}

#head
{
background-color: #64CCC5;
display: flex;
align-items: center;
grid-row: 1;
}

#logomain {
  float: left;
  width: 10%;
  height: 10%;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #04364a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04364a;
  color: white;
}
