#header-img{
padding-left: 40%;
max-width: 80px;
max-height: 80px;
}

#head
{
background-color: #64CCC5;
}


#head {
grid-area: 1/1/1/6;
}
.nav-link
{
position:relative;
text-decoration: none;
text-align: center;
padding-top: 10%;
height: 40px;
width: 250px;
margin-left: 10%;
}

.link-a
{
color: white;
padding: 5% 15% 5% 15%;
background-color: #04364A;
border: 5px inset #1C6EA4;
}
.link-a:hover
{
border: 5px outset #1C6EA4;
}